# Enter one VM parameter per line
-XX:MaxRAMPercentage=25
-XX:ReservedCodeCacheSize=128m 
-XX:+UseCompressedOops
-Dsun.io.useCanonCaches=false
-Djava.net.preferIPv4Stack=true
-XX:+HeapDumpOnOutOfMemoryError
-XX:-OmitStackTraceInFastThrow
-Xverify:none
-Xms256m
-Xmx2G
--add-opens=java.base/java.lang=ALL-UNNAMED
--add-opens=java.base/jdk.internal.org.objectweb.asm=ALL-UNNAMED
--add-opens=java.base/jdk.internal.org.objectweb.asm.tree=ALL-UNNAMED
--add-opens=java.base/jdk.internal.org.objectweb.asm.Opcodes=ALL-UNNAMED
# -javaagent:BurpLoaderKeygen.jar
-noverify
